/* ==-- timing --== */
/* ==-- Fonts --== */
/* ==-- Spacing --== */
/* smaller spacing is best for a small, subtle nudge on something */
/* small spacing is for good for spacing under a small h tag (h3-ish) */
/* medium spacing is your go to for most padding and margins */
/* large spacing are more for vertical spacing(margin) from block to block or large titles */
/* xlarger spacing are more for vertical spacing(margin) from section to section */
/* largest spacing is more for vertical spacing(margin) where you want a lot of white space */
/* padding for the side of the page */
html,
body,
:root {
  /* font-size: 16px; */
  /* font-size: calc(15px + 1vw); */
  /* ======== Brand Vars ======== */
  /* ==-- fonts --== */
  /* ==-- Colors --== */
  /* Colors have a switchable for dark mode compatibility */
  /* ======== globals ======== */
  /* ==-- fonts --== */
  /* ==-- spacing --== */
  /* ==-- timing --== */
}

/* ==-- Break Points--== */
.fullBlock-margin,
.blockGutters-margin {
  margin-left: 2vw;
  margin-right: 2vw;
}

.fullBlock-margin,
.blockMargin-margin {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.fullBlock-padding,
.blockGutters-padding {
  padding-left: 2vw;
  padding-right: 2vw;
}

.fullBlock-padding,
.blockMargin-padding {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.bgBrand {
  background-color: #1A7E13;
}

.colorBrand {
  color: #1A7E13;
}

.colorWhite {
  color: #fff;
}

.title {
  font-family: "Merriweather", serif;
}

.link {
  cursor: pointer;
  color: var(--brand_color-link1);
  text-decoration: underline;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: black;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.6);
  clip: auto !important;
  clip-path: none;
  color: white;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

#wpadminbar {
  display: none;
}

html {
  margin-top: 0 !important;
}

:root,
html,
body {
  font-size: calc(10px + 1.87vw);
}
@media (min-width: 600px) {
  :root,
html,
body {
    font-size: calc(12px + 0.66vw);
  }
}
@media (min-width: 900px) {
  :root,
html,
body {
    font-size: calc(13px + 0.33vw);
  }
}
@media (min-width: 1180px) {
  :root,
html,
body {
    font-size: calc(14px + 0.17vw);
  }
}
@media (min-width: 1760px) {
  :root,
html,
body {
    font-size: calc(15px + 0.056vw);
  }
}

.button-rounded, .button-pill-flat, .button {
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  line-height: 1;
  cursor: pointer;
}

.button-pill-flat {
  border-radius: 1.5em;
}

.button-rounded {
  border-radius: 4px;
}

/*

Containing element must have a defined width so that this icon can create a square ratio based on width.

<div class="hamburgerMenu">
    <span class="hamburgerMenu_middleLine"></span>
</div>

Add to wrapping element that should toggle the icon display:
onclick="this.classList.toggle('hamburgerToggle-active')"

*/
.hamburgerToggle {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
}

.hamburgerToggle::before,
.hamburgerToggle_middleLine,
.hamburgerToggle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 2px;
  height: 5px;
  width: 100%;
  background-color: #000;
  border-radius: 2.5px;
  transform-origin: center;
  transition: top 0.8s, bottom 0.8s, left 0.8s, right 0.8s, transform 0.8s, width 0.8s, border-radius 0.8s;
}

.hamburgerToggle_middleLine {
  top: calc( 50% - 2.5px );
  right: 0;
}

.hamburgerToggle::after {
  top: unset;
  bottom: 0;
}

.hamburgerToggle-active .hamburgerToggle::before {
  width: 110%;
  top: calc(50% - 2.5px);
  transform: rotate(45deg);
}

.hamburgerToggle-active .hamburgerToggle_middleLine {
  width: 0;
  left: 50%;
  right: 50%;
  border-radius: 50%;
}

.hamburgerToggle-active .hamburgerToggle::after {
  width: 110%;
  top: unset;
  bottom: calc(50% - 2.5px);
  transform: rotate(-45deg);
}

.bannerCta_container {
  margin-bottom: 1.8rem;
  padding: 1.2rem 1.2rem;
  background-color: #1A7E13;
}
@media (min-width: 600px) {
  .bannerCta_container {
    margin-bottom: 3.1rem;
  }
}
@media (min-width: 1180px) {
  .bannerCta_container {
    margin-bottom: 3.8rem;
  }
}
@media (min-width: 600px) {
  .bannerCta_container {
    padding: 1.8rem 1.8rem;
  }
}
@media (min-width: 1180px) {
  .bannerCta_container {
    padding: 2.4rem 2.4rem;
  }
}

.bannerCta_inner {
  text-align: center;
}
@media (min-width: 1180px) {
  .bannerCta_inner {
    max-width: 94vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1760px) {
  .bannerCta_inner {
    max-width: 85vw;
  }
}

.bannerCta_info {
  color: #fff;
}

.bannerCta_cta {
  display: block;
  color: #fff;
  margin-top: 1.2rem;
  font-size: 1.2rem;
}

.columnFooter_container {
  margin-top: 1.8rem;
  padding: 1.2rem 1.2rem;
  background-color: #1A7E13;
  color: #fff;
  text-align: center;
}
@media (min-width: 600px) {
  .columnFooter_container {
    margin-top: 3.1rem;
  }
}
@media (min-width: 1180px) {
  .columnFooter_container {
    margin-top: 3.8rem;
  }
}
@media (min-width: 600px) {
  .columnFooter_container {
    padding: 1.8rem 1.8rem;
  }
}
@media (min-width: 1180px) {
  .columnFooter_container {
    padding: 2.4rem 2.4rem;
  }
}
.columnFooter_container * + * {
  margin-top: 1.3em;
}
.columnFooter_container a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
}

@media (min-width: 1180px) {
  .columnFooter_inner {
    max-width: 94vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1760px) {
  .columnFooter_inner {
    max-width: 85vw;
  }
}
@media (min-width: 1180px) {
  .columnFooter_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.columnFooter_column {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.3em;
}
@media (min-width: 600px) {
  .columnFooter_column {
    padding-top: 1.8rem;
  }
}
@media (min-width: 1180px) {
  .columnFooter_column {
    padding-top: 2.4rem;
  }
}
@media (min-width: 600px) {
  .columnFooter_column {
    padding-bottom: 1.8rem;
  }
}
@media (min-width: 1180px) {
  .columnFooter_column {
    padding-bottom: 2.4rem;
  }
}
@media (min-width: 1180px) {
  .columnFooter_column {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 30%;
  }
}
@media (min-width: 1180px) and (min-width: 600px) {
  .columnFooter_column {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
@media (min-width: 1180px) and (min-width: 1180px) {
  .columnFooter_column {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

.columnFooter_column-first {
  margin-top: 0;
}
@media (min-width: 1180px) {
  .columnFooter_column-first {
    justify-content: space-between;
    padding-left: 0;
  }
}

@media (min-width: 600px) {
  .columnFooter_column-first-home {
    display: none;
  }
}
@media (min-width: 1180px) {
  .columnFooter_column-first-home {
    display: block;
  }
}

.columnFooter_column-middle {
  border-top: 2px solid #495057;
  border-bottom: 2px solid #495057;
}
.columnFooter_column-middle li a {
  font-size: 1rem;
  color: rgba(222, 222, 222, 0.9);
}
@media (min-width: 1180px) {
  .columnFooter_column-middle {
    border: unset;
    border-left: 2px solid #495057;
    border-right: 2px solid #495057;
  }
}

.columnFooter_column-middle-title {
  font-size: 1.8rem;
}

@media (min-width: 1180px) {
  .columnFooter_column-last {
    width: 40%;
    padding-right: 0;
    display: flex;
    flex-direction: row-reverse;
  }
}

.columnFooter_column-socialDetails p {
  display: none;
}
@media (min-width: 1180px) {
  .columnFooter_column-socialDetails {
    margin-top: 0;
    margin-right: 4vw;
  }
  .columnFooter_column-socialDetails p {
    display: block;
  }
}

.columnFooter_column-last-links {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1180px) {
  .columnFooter_column-last-links {
    justify-content: space-between !important;
  }
}

.columnFooter_column-socialDetails-links {
  display: flex;
  justify-content: space-around;
}
.columnFooter_column-socialDetails-links a {
  margin-top: 0;
}
@media (min-width: 1180px) {
  .columnFooter_column-socialDetails-links {
    justify-content: space-between !important;
  }
  .columnFooter_column-socialDetails-links a {
    margin-top: 0;
  }
}

.columnFooter_container svg {
  max-width: 3.2rem;
  max-height: 3.2rem;
}
.columnFooter_container svg path {
  fill: #fff;
}

@media (min-width: 600px) {
  .columnFooter_column-middle ul,
.columnFooter_column-last-links,
.columnFooter_column-first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .columnFooter_column-middle ul a,
.columnFooter_column-last-links a,
.columnFooter_column-first a {
    margin-top: 0;
  }
}
@media (min-width: 1180px) {
  .columnFooter_column-middle ul,
.columnFooter_column-last-links,
.columnFooter_column-first {
    flex-direction: column;
  }
}

@media (min-width: 1180px) {
  .columnFooter_column * {
    justify-content: start;
  }
  .columnFooter_column a, .columnFooter_column p, .columnFooter_column li {
    text-align: left;
  }
}

@media (min-width: 600px) {
  .columnFooter_column-middle ul {
    height: 100%;
    justify-content: space-around;
  }
  .columnFooter_column-middle ul li {
    margin-top: 0;
  }
}

.flatHeader_container {
  position: relative;
  max-width: 100%;
  height: 4.2rem;
  padding: 0.8rem 4vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 4px #adb5bd;
}
@media (min-width: 900px) {
  .flatHeader_container {
    min-height: 4.2rem;
    height: unset;
    justify-content: space-between;
  }
}

.flatHeader_logo {
  display: block;
  height: 100%;
}
@media (min-width: 900px) {
  .flatHeader_logo {
    height: 4.2rem;
  }
}

.flatHeader_logo a {
  display: block;
  height: 100%;
  text-decoration: none;
}

.flatHeader_logo img {
  height: 100%;
  max-height: 100%;
}

.flatHeader_logo-square {
  display: none;
}
@media (min-width: 900px) {
  .flatHeader_logo-square {
    display: block;
  }
}

@media (min-width: 900px) {
  .flatHeader_logo-wide {
    display: none;
  }
}

.flatHeader_nav-container {
  display: flex;
}
@media (min-width: 900px) {
  .flatHeader_nav-container {
    padding-left: 5vw;
    width: 100%;
  }
}
@media (min-width: 1180px) {
  .flatHeader_nav-container {
    padding-left: 12vw;
  }
}

.flatHeader_nav-links {
  padding: 0;
  width: 100%;
  height: calc(100vh - 4.2rem);
  max-height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1A7E13;
  overflow: hidden;
  transition: max-height 0.6s, padding 0.6s;
}
@media (min-width: 900px) {
  .flatHeader_nav-links {
    background-color: unset;
    position: static;
    height: 100%;
    max-height: unset;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.flatHeader_nav-active .flatHeader_nav-links {
  padding: 0.8rem 1.2rem;
  max-height: calc(100vh - 4.2rem);
}

.flatHeader_nav-links a {
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
  text-align: center;
}
@media (min-width: 900px) {
  .flatHeader_nav-links a {
    font-size: 1.8rem;
    color: #000;
  }
}

@media (min-width: 900px) {
  .flatHeader_nav-links a.flatHeader_donate-link {
    padding: 0.6rem 1.2rem;
    background-color: #1A7E13;
    border-radius: 4px;
    color: #fff;
  }
}

.flatHeader_nav-button {
  width: 2.6rem;
  padding: 0.1rem;
  position: absolute;
  top: 0.8rem;
  right: 4vw;
}
@media (min-width: 900px) {
  .flatHeader_nav-button {
    display: none;
  }
}

.fourSquare_container {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  background-color: #1A7E13;
}
@media (min-width: 600px) {
  .fourSquare_container {
    margin-top: 3.1rem;
  }
}
@media (min-width: 1180px) {
  .fourSquare_container {
    margin-top: 3.8rem;
  }
}
@media (min-width: 600px) {
  .fourSquare_container {
    margin-bottom: 3.1rem;
  }
}
@media (min-width: 1180px) {
  .fourSquare_container {
    margin-bottom: 3.8rem;
  }
}
@media (min-width: 600px) {
  .fourSquare_container {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
@media (min-width: 600px) and (min-width: 1180px) {
  .fourSquare_container {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 600px) and (min-width: 1760px) {
  .fourSquare_container {
    max-width: 85vw;
  }
}

.fourSquare_square {
  padding: 1.2rem 1.2rem;
  color: #fff;
}
@media (min-width: 600px) {
  .fourSquare_square {
    padding: 1.8rem 1.8rem;
  }
}
@media (min-width: 1180px) {
  .fourSquare_square {
    padding: 2.4rem 2.4rem;
  }
}
@media (min-width: 600px) {
  .fourSquare_square {
    width: 50%;
  }
}

.fourSquare_square-first,
.fourSquare_square-last {
  background-color: #4E9D19;
}

.fourSquare_square-last {
  padding: 0;
}

.fourSquare_row-first,
.fourSquare_row-last {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .fourSquare_row-first,
.fourSquare_row-last {
    flex-direction: row;
  }
}

.fourSquare_row-first .fourSquare_square:last-of-type {
  font-size: 1.2rem;
}
@media (min-width: 1180px) {
  .fourSquare_row-first .fourSquare_square:last-of-type {
    font-size: 1.35rem;
  }
}

.fourSquare_row-last {
  flex-direction: column-reverse;
}
@media (min-width: 600px) {
  .fourSquare_row-last {
    flex-direction: row;
  }
}
.fourSquare_row-last .fourSquare_square:first-of-type {
  font-size: 1.8rem;
  text-align: center;
}

.fourSquare_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fourSquare_list li {
  margin: 0.8rem auto;
}

.fourSquare_square-image {
  max-height: 40vh;
}

.imgHero-container {
  position: relative;
  width: 100%;
  height: 60vh;
  padding: 1.8rem 4vw;
}
@media (min-width: 1180px) {
  .imgHero-container {
    height: 80vh;
  }
}

.imgHero-bg,
.imgHero-bg-img,
.imgHero-bg-img img,
.imgHero-bg-tintOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.imgHero-bg-img {
  z-index: 4;
}

.imgHero-bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgHero-bg-tintOverlay {
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.5);
}

.imgHero-content {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .imgHero-content {
    justify-content: space-around;
  }
}

.imgHero-content * {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.imgHero-content-title {
  font-size: 2.5rem;
}
@media (min-width: 600px) {
  .imgHero-content-title {
    font-size: 3.1rem;
  }
}

.imgHero-content-p,
.imgHero-content-cta {
  font-size: 1.2rem;
}
@media (min-width: 600px) {
  .imgHero-content-p,
.imgHero-content-cta {
    font-size: 1.6rem;
  }
}

.imgHero-content-cta {
  display: inline-block;
  margin-top: 2.4rem;
  color: #fff;
}

.infoColumns_container {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  padding: 1.2rem 1.2rem;
  background-color: #adb5bd;
}
@media (min-width: 600px) {
  .infoColumns_container {
    margin-top: 3.1rem;
  }
}
@media (min-width: 1180px) {
  .infoColumns_container {
    margin-top: 3.8rem;
  }
}
@media (min-width: 600px) {
  .infoColumns_container {
    margin-bottom: 3.1rem;
  }
}
@media (min-width: 1180px) {
  .infoColumns_container {
    margin-bottom: 3.8rem;
  }
}
@media (min-width: 600px) {
  .infoColumns_container {
    padding: 1.8rem 1.8rem;
  }
}
@media (min-width: 1180px) {
  .infoColumns_container {
    padding: 2.4rem 2.4rem;
  }
}

.infoColumns_innerContainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1180px) {
  .infoColumns_innerContainer {
    max-width: 94vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1760px) {
  .infoColumns_innerContainer {
    max-width: 85vw;
  }
}
@media (min-width: 900px) {
  .infoColumns_innerContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.infoColumns_column {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (min-width: 600px) {
  .infoColumns_column {
    padding-top: 1.8rem;
  }
}
@media (min-width: 1180px) {
  .infoColumns_column {
    padding-top: 2.4rem;
  }
}
@media (min-width: 600px) {
  .infoColumns_column {
    padding-bottom: 1.8rem;
  }
}
@media (min-width: 1180px) {
  .infoColumns_column {
    padding-bottom: 2.4rem;
  }
}
.infoColumns_column svg {
  max-height: 4rem;
  max-width: 4rem;
}
.infoColumns_column svg path {
  fill: #1A7E13;
}
@media (min-width: 900px) {
  .infoColumns_column {
    width: 30%;
  }
}

.infoColumns_column * + * {
  margin-top: 1.3em;
}

.infoColumns_column-heading {
  color: #1A7E13;
}

.infoFooter_container {
  width: 100%;
  max-width: 100%;
  background-color: var(--brand_color-lightgrey);
}

.infoFooter_preFooter {
  background-color: var(--brand_color-main1);
  padding: var(--global_spacing-small) var(--global_spacing-gutters);
  text-align: center;
}

.infoFooter_preFooter-title {
  font-size: var(--global_fontsize-body-large);
}

.infoFooter_preFooter-info {
  font-size: var(--global_fontsize-body-small);
  margin-top: var(--global_spacing-xsmall);
}

.infoFooter_mainFooter {
  padding: var(--global_spacing-medium) var(--global_spacing-gutters) 0;
}

.infoFooter_mainFooter-logo {
  padding: var(--global_spacing-medium) 0 var(--global_spacing-small);
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--global_color-gray1);
}

.infoFooter_mainFooter-logo img {
  display: block;
  max-width: 100%;
  height: var(--global_sizing-header-height-logo);
}

.infoFooter_mainFooter-companyInfo-address,
.infoFooter_mainFooter-companyInfo-area,
.infoFooter_mainFooter-companyInfo-phone {
  display: block;
  margin: var(--global_spacing-xsmall) auto;
  text-align: center;
}

.infoFooter_mainFooter-rights {
  border-top: 2px solid var(--global_color-gray1);
  margin: 0 var(--global_spacing-gutters);
  padding: var(--global_spacing-medium) 0 var(--global_spacing-small);
}

.infoFooter_mainFooter-rights-sc,
.infoFooter_mainFooter-rights-other {
  display: block;
  text-align: center;
}

.infoFooter_mainFooter-rights-sc {
  font-size: var(--global_fontsize-body-medium);
  margin-bottom: var(--global_spacing-small);
}

.infoFooter_mainFooter-rights-other {
  font-size: var(--global_fontsize-body-small);
}

@media (min-width: 1180px) {
  .infoFooter_mainFooter-companyInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .infoFooter_mainFooter-companyInfo-address,
.infoFooter_mainFooter-companyInfo-area,
.infoFooter_mainFooter-companyInfo-phone {
    margin: 0;
  }

  .infoFooter_mainFooter-companyInfo-phone {
    width: 100%;
    margin: var(--global_spacing-xsmall) auto;
  }

  .infoFooter_mainFooter-companyInfo-address {
    margin-right: var(--global_spacing-xsmall);
  }
}
.container {
  width: 100%;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
  max-width: 720px;
  max-width: 960px;
  max-width: 1140px;
}

.container-fluid {
  width: 100%;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75vw;
  margin-left: -0.75vw;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-desktop4k,
.col-desktop4k-auto, .col-desktop4k-12, .col-desktop4k-11, .col-desktop4k-10, .col-desktop4k-9, .col-desktop4k-8, .col-desktop4k-7, .col-desktop4k-6, .col-desktop4k-5, .col-desktop4k-4, .col-desktop4k-3, .col-desktop4k-2, .col-desktop4k-1, .col-desktop,
.col-desktop-auto, .col-desktop-12, .col-desktop-11, .col-desktop-10, .col-desktop-9, .col-desktop-8, .col-desktop-7, .col-desktop-6, .col-desktop-5, .col-desktop-4, .col-desktop-3, .col-desktop-2, .col-desktop-1, .col-tabletLandscape,
.col-tabletLandscape-auto, .col-tabletLandscape-12, .col-tabletLandscape-11, .col-tabletLandscape-10, .col-tabletLandscape-9, .col-tabletLandscape-8, .col-tabletLandscape-7, .col-tabletLandscape-6, .col-tabletLandscape-5, .col-tabletLandscape-4, .col-tabletLandscape-3, .col-tabletLandscape-2, .col-tabletLandscape-1, .col-tablet,
.col-tablet-auto, .col-tablet-12, .col-tablet-11, .col-tablet-10, .col-tablet-9, .col-tablet-8, .col-tablet-7, .col-tablet-6, .col-tablet-5, .col-tablet-4, .col-tablet-3, .col-tablet-2, .col-tablet-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 600px) {
  .col-tablet {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-tablet-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-tablet-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-tablet-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-tablet-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-tablet-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-tablet-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-tablet-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-tablet-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-tablet-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-tablet-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-tablet-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-tablet-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-tablet-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-tablet-first {
    order: -1;
  }

  .order-tablet-last {
    order: 13;
  }

  .order-tablet-0 {
    order: 0;
  }

  .order-tablet-1 {
    order: 1;
  }

  .order-tablet-2 {
    order: 2;
  }

  .order-tablet-3 {
    order: 3;
  }

  .order-tablet-4 {
    order: 4;
  }

  .order-tablet-5 {
    order: 5;
  }

  .order-tablet-6 {
    order: 6;
  }

  .order-tablet-7 {
    order: 7;
  }

  .order-tablet-8 {
    order: 8;
  }

  .order-tablet-9 {
    order: 9;
  }

  .order-tablet-10 {
    order: 10;
  }

  .order-tablet-11 {
    order: 11;
  }

  .order-tablet-12 {
    order: 12;
  }

  .offset-tablet-0 {
    margin-left: 0;
  }

  .offset-tablet-1 {
    margin-left: 8.3333333333%;
  }

  .offset-tablet-2 {
    margin-left: 16.6666666667%;
  }

  .offset-tablet-3 {
    margin-left: 25%;
  }

  .offset-tablet-4 {
    margin-left: 33.3333333333%;
  }

  .offset-tablet-5 {
    margin-left: 41.6666666667%;
  }

  .offset-tablet-6 {
    margin-left: 50%;
  }

  .offset-tablet-7 {
    margin-left: 58.3333333333%;
  }

  .offset-tablet-8 {
    margin-left: 66.6666666667%;
  }

  .offset-tablet-9 {
    margin-left: 75%;
  }

  .offset-tablet-10 {
    margin-left: 83.3333333333%;
  }

  .offset-tablet-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 900px) {
  .col-tabletLandscape {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-tabletLandscape-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-tabletLandscape-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-tabletLandscape-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-tabletLandscape-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-tabletLandscape-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-tabletLandscape-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-tabletLandscape-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-tabletLandscape-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-tabletLandscape-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-tabletLandscape-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-tabletLandscape-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-tabletLandscape-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-tabletLandscape-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-tabletLandscape-first {
    order: -1;
  }

  .order-tabletLandscape-last {
    order: 13;
  }

  .order-tabletLandscape-0 {
    order: 0;
  }

  .order-tabletLandscape-1 {
    order: 1;
  }

  .order-tabletLandscape-2 {
    order: 2;
  }

  .order-tabletLandscape-3 {
    order: 3;
  }

  .order-tabletLandscape-4 {
    order: 4;
  }

  .order-tabletLandscape-5 {
    order: 5;
  }

  .order-tabletLandscape-6 {
    order: 6;
  }

  .order-tabletLandscape-7 {
    order: 7;
  }

  .order-tabletLandscape-8 {
    order: 8;
  }

  .order-tabletLandscape-9 {
    order: 9;
  }

  .order-tabletLandscape-10 {
    order: 10;
  }

  .order-tabletLandscape-11 {
    order: 11;
  }

  .order-tabletLandscape-12 {
    order: 12;
  }

  .offset-tabletLandscape-0 {
    margin-left: 0;
  }

  .offset-tabletLandscape-1 {
    margin-left: 8.3333333333%;
  }

  .offset-tabletLandscape-2 {
    margin-left: 16.6666666667%;
  }

  .offset-tabletLandscape-3 {
    margin-left: 25%;
  }

  .offset-tabletLandscape-4 {
    margin-left: 33.3333333333%;
  }

  .offset-tabletLandscape-5 {
    margin-left: 41.6666666667%;
  }

  .offset-tabletLandscape-6 {
    margin-left: 50%;
  }

  .offset-tabletLandscape-7 {
    margin-left: 58.3333333333%;
  }

  .offset-tabletLandscape-8 {
    margin-left: 66.6666666667%;
  }

  .offset-tabletLandscape-9 {
    margin-left: 75%;
  }

  .offset-tabletLandscape-10 {
    margin-left: 83.3333333333%;
  }

  .offset-tabletLandscape-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1180px) {
  .col-desktop {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-desktop-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-desktop-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-desktop-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-desktop-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-desktop-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-desktop-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-desktop-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-desktop-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-desktop-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-desktop-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-desktop-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-desktop-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-desktop-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-desktop-first {
    order: -1;
  }

  .order-desktop-last {
    order: 13;
  }

  .order-desktop-0 {
    order: 0;
  }

  .order-desktop-1 {
    order: 1;
  }

  .order-desktop-2 {
    order: 2;
  }

  .order-desktop-3 {
    order: 3;
  }

  .order-desktop-4 {
    order: 4;
  }

  .order-desktop-5 {
    order: 5;
  }

  .order-desktop-6 {
    order: 6;
  }

  .order-desktop-7 {
    order: 7;
  }

  .order-desktop-8 {
    order: 8;
  }

  .order-desktop-9 {
    order: 9;
  }

  .order-desktop-10 {
    order: 10;
  }

  .order-desktop-11 {
    order: 11;
  }

  .order-desktop-12 {
    order: 12;
  }

  .offset-desktop-0 {
    margin-left: 0;
  }

  .offset-desktop-1 {
    margin-left: 8.3333333333%;
  }

  .offset-desktop-2 {
    margin-left: 16.6666666667%;
  }

  .offset-desktop-3 {
    margin-left: 25%;
  }

  .offset-desktop-4 {
    margin-left: 33.3333333333%;
  }

  .offset-desktop-5 {
    margin-left: 41.6666666667%;
  }

  .offset-desktop-6 {
    margin-left: 50%;
  }

  .offset-desktop-7 {
    margin-left: 58.3333333333%;
  }

  .offset-desktop-8 {
    margin-left: 66.6666666667%;
  }

  .offset-desktop-9 {
    margin-left: 75%;
  }

  .offset-desktop-10 {
    margin-left: 83.3333333333%;
  }

  .offset-desktop-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1760px) {
  .col-desktop4k {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-desktop4k-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-desktop4k-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-desktop4k-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-desktop4k-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-desktop4k-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-desktop4k-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-desktop4k-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-desktop4k-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-desktop4k-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-desktop4k-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-desktop4k-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-desktop4k-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-desktop4k-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-desktop4k-first {
    order: -1;
  }

  .order-desktop4k-last {
    order: 13;
  }

  .order-desktop4k-0 {
    order: 0;
  }

  .order-desktop4k-1 {
    order: 1;
  }

  .order-desktop4k-2 {
    order: 2;
  }

  .order-desktop4k-3 {
    order: 3;
  }

  .order-desktop4k-4 {
    order: 4;
  }

  .order-desktop4k-5 {
    order: 5;
  }

  .order-desktop4k-6 {
    order: 6;
  }

  .order-desktop4k-7 {
    order: 7;
  }

  .order-desktop4k-8 {
    order: 8;
  }

  .order-desktop4k-9 {
    order: 9;
  }

  .order-desktop4k-10 {
    order: 10;
  }

  .order-desktop4k-11 {
    order: 11;
  }

  .order-desktop4k-12 {
    order: 12;
  }

  .offset-desktop4k-0 {
    margin-left: 0;
  }

  .offset-desktop4k-1 {
    margin-left: 8.3333333333%;
  }

  .offset-desktop4k-2 {
    margin-left: 16.6666666667%;
  }

  .offset-desktop4k-3 {
    margin-left: 25%;
  }

  .offset-desktop4k-4 {
    margin-left: 33.3333333333%;
  }

  .offset-desktop4k-5 {
    margin-left: 41.6666666667%;
  }

  .offset-desktop4k-6 {
    margin-left: 50%;
  }

  .offset-desktop4k-7 {
    margin-left: 58.3333333333%;
  }

  .offset-desktop4k-8 {
    margin-left: 66.6666666667%;
  }

  .offset-desktop4k-9 {
    margin-left: 75%;
  }

  .offset-desktop4k-10 {
    margin-left: 83.3333333333%;
  }

  .offset-desktop4k-11 {
    margin-left: 91.6666666667%;
  }
}
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 600px) {
  .d-tablet-none {
    display: none !important;
  }

  .d-tablet-inline {
    display: inline !important;
  }

  .d-tablet-inline-block {
    display: inline-block !important;
  }

  .d-tablet-block {
    display: block !important;
  }

  .d-tablet-table {
    display: table !important;
  }

  .d-tablet-table-row {
    display: table-row !important;
  }

  .d-tablet-table-cell {
    display: table-cell !important;
  }

  .d-tablet-flex {
    display: flex !important;
  }

  .d-tablet-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 900px) {
  .d-tabletLandscape-none {
    display: none !important;
  }

  .d-tabletLandscape-inline {
    display: inline !important;
  }

  .d-tabletLandscape-inline-block {
    display: inline-block !important;
  }

  .d-tabletLandscape-block {
    display: block !important;
  }

  .d-tabletLandscape-table {
    display: table !important;
  }

  .d-tabletLandscape-table-row {
    display: table-row !important;
  }

  .d-tabletLandscape-table-cell {
    display: table-cell !important;
  }

  .d-tabletLandscape-flex {
    display: flex !important;
  }

  .d-tabletLandscape-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 1180px) {
  .d-desktop-none {
    display: none !important;
  }

  .d-desktop-inline {
    display: inline !important;
  }

  .d-desktop-inline-block {
    display: inline-block !important;
  }

  .d-desktop-block {
    display: block !important;
  }

  .d-desktop-table {
    display: table !important;
  }

  .d-desktop-table-row {
    display: table-row !important;
  }

  .d-desktop-table-cell {
    display: table-cell !important;
  }

  .d-desktop-flex {
    display: flex !important;
  }

  .d-desktop-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 1760px) {
  .d-desktop4k-none {
    display: none !important;
  }

  .d-desktop4k-inline {
    display: inline !important;
  }

  .d-desktop4k-inline-block {
    display: inline-block !important;
  }

  .d-desktop4k-block {
    display: block !important;
  }

  .d-desktop4k-table {
    display: table !important;
  }

  .d-desktop4k-table-row {
    display: table-row !important;
  }

  .d-desktop4k-table-cell {
    display: table-cell !important;
  }

  .d-desktop4k-flex {
    display: flex !important;
  }

  .d-desktop4k-inline-flex {
    display: inline-flex !important;
  }
}
@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }
}
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

@media (min-width: 600px) {
  .flex-tablet-row {
    flex-direction: row !important;
  }

  .flex-tablet-column {
    flex-direction: column !important;
  }

  .flex-tablet-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-tablet-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-tablet-wrap {
    flex-wrap: wrap !important;
  }

  .flex-tablet-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-tablet-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-tablet-start {
    justify-content: flex-start !important;
  }

  .justify-content-tablet-end {
    justify-content: flex-end !important;
  }

  .justify-content-tablet-center {
    justify-content: center !important;
  }

  .justify-content-tablet-between {
    justify-content: space-between !important;
  }

  .justify-content-tablet-around {
    justify-content: space-around !important;
  }

  .align-items-tablet-start {
    align-items: flex-start !important;
  }

  .align-items-tablet-end {
    align-items: flex-end !important;
  }

  .align-items-tablet-center {
    align-items: center !important;
  }

  .align-items-tablet-baseline {
    align-items: baseline !important;
  }

  .align-items-tablet-stretch {
    align-items: stretch !important;
  }

  .align-content-tablet-start {
    align-content: flex-start !important;
  }

  .align-content-tablet-end {
    align-content: flex-end !important;
  }

  .align-content-tablet-center {
    align-content: center !important;
  }

  .align-content-tablet-between {
    align-content: space-between !important;
  }

  .align-content-tablet-around {
    align-content: space-around !important;
  }

  .align-content-tablet-stretch {
    align-content: stretch !important;
  }

  .align-self-tablet-auto {
    align-self: auto !important;
  }

  .align-self-tablet-start {
    align-self: flex-start !important;
  }

  .align-self-tablet-end {
    align-self: flex-end !important;
  }

  .align-self-tablet-center {
    align-self: center !important;
  }

  .align-self-tablet-baseline {
    align-self: baseline !important;
  }

  .align-self-tablet-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 900px) {
  .flex-tabletLandscape-row {
    flex-direction: row !important;
  }

  .flex-tabletLandscape-column {
    flex-direction: column !important;
  }

  .flex-tabletLandscape-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-tabletLandscape-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-tabletLandscape-wrap {
    flex-wrap: wrap !important;
  }

  .flex-tabletLandscape-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-tabletLandscape-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-tabletLandscape-start {
    justify-content: flex-start !important;
  }

  .justify-content-tabletLandscape-end {
    justify-content: flex-end !important;
  }

  .justify-content-tabletLandscape-center {
    justify-content: center !important;
  }

  .justify-content-tabletLandscape-between {
    justify-content: space-between !important;
  }

  .justify-content-tabletLandscape-around {
    justify-content: space-around !important;
  }

  .align-items-tabletLandscape-start {
    align-items: flex-start !important;
  }

  .align-items-tabletLandscape-end {
    align-items: flex-end !important;
  }

  .align-items-tabletLandscape-center {
    align-items: center !important;
  }

  .align-items-tabletLandscape-baseline {
    align-items: baseline !important;
  }

  .align-items-tabletLandscape-stretch {
    align-items: stretch !important;
  }

  .align-content-tabletLandscape-start {
    align-content: flex-start !important;
  }

  .align-content-tabletLandscape-end {
    align-content: flex-end !important;
  }

  .align-content-tabletLandscape-center {
    align-content: center !important;
  }

  .align-content-tabletLandscape-between {
    align-content: space-between !important;
  }

  .align-content-tabletLandscape-around {
    align-content: space-around !important;
  }

  .align-content-tabletLandscape-stretch {
    align-content: stretch !important;
  }

  .align-self-tabletLandscape-auto {
    align-self: auto !important;
  }

  .align-self-tabletLandscape-start {
    align-self: flex-start !important;
  }

  .align-self-tabletLandscape-end {
    align-self: flex-end !important;
  }

  .align-self-tabletLandscape-center {
    align-self: center !important;
  }

  .align-self-tabletLandscape-baseline {
    align-self: baseline !important;
  }

  .align-self-tabletLandscape-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 1180px) {
  .flex-desktop-row {
    flex-direction: row !important;
  }

  .flex-desktop-column {
    flex-direction: column !important;
  }

  .flex-desktop-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-desktop-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-desktop-wrap {
    flex-wrap: wrap !important;
  }

  .flex-desktop-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-desktop-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-desktop-start {
    justify-content: flex-start !important;
  }

  .justify-content-desktop-end {
    justify-content: flex-end !important;
  }

  .justify-content-desktop-center {
    justify-content: center !important;
  }

  .justify-content-desktop-between {
    justify-content: space-between !important;
  }

  .justify-content-desktop-around {
    justify-content: space-around !important;
  }

  .align-items-desktop-start {
    align-items: flex-start !important;
  }

  .align-items-desktop-end {
    align-items: flex-end !important;
  }

  .align-items-desktop-center {
    align-items: center !important;
  }

  .align-items-desktop-baseline {
    align-items: baseline !important;
  }

  .align-items-desktop-stretch {
    align-items: stretch !important;
  }

  .align-content-desktop-start {
    align-content: flex-start !important;
  }

  .align-content-desktop-end {
    align-content: flex-end !important;
  }

  .align-content-desktop-center {
    align-content: center !important;
  }

  .align-content-desktop-between {
    align-content: space-between !important;
  }

  .align-content-desktop-around {
    align-content: space-around !important;
  }

  .align-content-desktop-stretch {
    align-content: stretch !important;
  }

  .align-self-desktop-auto {
    align-self: auto !important;
  }

  .align-self-desktop-start {
    align-self: flex-start !important;
  }

  .align-self-desktop-end {
    align-self: flex-end !important;
  }

  .align-self-desktop-center {
    align-self: center !important;
  }

  .align-self-desktop-baseline {
    align-self: baseline !important;
  }

  .align-self-desktop-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 1760px) {
  .flex-desktop4k-row {
    flex-direction: row !important;
  }

  .flex-desktop4k-column {
    flex-direction: column !important;
  }

  .flex-desktop4k-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-desktop4k-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-desktop4k-wrap {
    flex-wrap: wrap !important;
  }

  .flex-desktop4k-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-desktop4k-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-desktop4k-start {
    justify-content: flex-start !important;
  }

  .justify-content-desktop4k-end {
    justify-content: flex-end !important;
  }

  .justify-content-desktop4k-center {
    justify-content: center !important;
  }

  .justify-content-desktop4k-between {
    justify-content: space-between !important;
  }

  .justify-content-desktop4k-around {
    justify-content: space-around !important;
  }

  .align-items-desktop4k-start {
    align-items: flex-start !important;
  }

  .align-items-desktop4k-end {
    align-items: flex-end !important;
  }

  .align-items-desktop4k-center {
    align-items: center !important;
  }

  .align-items-desktop4k-baseline {
    align-items: baseline !important;
  }

  .align-items-desktop4k-stretch {
    align-items: stretch !important;
  }

  .align-content-desktop4k-start {
    align-content: flex-start !important;
  }

  .align-content-desktop4k-end {
    align-content: flex-end !important;
  }

  .align-content-desktop4k-center {
    align-content: center !important;
  }

  .align-content-desktop4k-between {
    align-content: space-between !important;
  }

  .align-content-desktop4k-around {
    align-content: space-around !important;
  }

  .align-content-desktop4k-stretch {
    align-content: stretch !important;
  }

  .align-self-desktop4k-auto {
    align-self: auto !important;
  }

  .align-self-desktop4k-start {
    align-self: flex-start !important;
  }

  .align-self-desktop4k-end {
    align-self: flex-end !important;
  }

  .align-self-desktop4k-center {
    align-self: center !important;
  }

  .align-self-desktop4k-baseline {
    align-self: baseline !important;
  }

  .align-self-desktop4k-stretch {
    align-self: stretch !important;
  }
}

/*# sourceMappingURL=stylenew.css.map */
