
$flatHeader_bg:  sget('color.white');
$flatHeader_height:  4.2rem;
$flatHeader_padding-x: sget('spacing.gutter');
$flatHeader_padding-y: sget('spacing.small');

// Create a breakpoint for the header to transition away from a mobile dropdown menu
$flatHeader_expanded-breakpoint : sget('breakpoint.for-tabletLandscape');
$breakpoints: new-breakpoint('for-flatHeader-expanded', $flatHeader_expanded-breakpoint);

.flatHeader_container{
    position: relative;
    max-width: 100%;
    height: $flatHeader_height;
    padding: $flatHeader_padding-y $flatHeader_padding-x;
    background-color: $flatHeader_bg;

    display: flex;
    justify-content: center;
    box-shadow: 0 4px 4px sget('color.gray-500');
    @include breakpoint('for-flatHeader-expanded'){
        min-height: $flatHeader_height;
        height: unset;
        justify-content: space-between;
    }
}

.flatHeader_logo{
    display: block;
    height: 100%;
    @include breakpoint('for-flatHeader-expanded'){
        height: $flatHeader_height;
    }
}
.flatHeader_logo a{
    display: block;
    height: 100%;
    text-decoration: none;
}
.flatHeader_logo img{
    height: 100%;
    max-height: 100%;
}
.flatHeader_logo-square{
    display: none;
    @include breakpoint('for-flatHeader-expanded') {
        display: block;
    }
}
.flatHeader_logo-wide{
    @include breakpoint('for-flatHeader-expanded') {
        display: none;
    }
}
.flatHeader_nav-container{
    display: flex;
    @include breakpoint('for-flatHeader-expanded') {
        padding-left: 5vw;
        width: 100%;
    }
    @include breakpoint('for-desktop') {
        padding-left: 12vw;
    }
}

.flatHeader_nav-links{
    padding: 0;
    width: 100%;
    height: calc(100vh - #{$flatHeader_height});
    max-height: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: sget('zindex.ui.nav');

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: sget('color.theme.main');
    overflow: hidden;
    transition: 
        max-height sget('timing.transition.duration.small'),
        padding sget('timing.transition.duration.small');

    @include breakpoint('for-flatHeader-expanded') {
        background-color: unset;
        position: static;
        height: 100%;
        max-height: unset;
        min-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.flatHeader_nav-active .flatHeader_nav-links {
    padding: sget('spacing.small') sget('spacing.medium');
    max-height: calc(100vh - #{$flatHeader_height});
}
.flatHeader_nav-links a{
    color: sget('color.white');
    font-size: sget('heading.font.size.large');
    text-decoration: none;
    text-align: center;

    @include breakpoint('for-flatHeader-expanded') {
        font-size: sget('heading.font.size.medium');
        color: sget('color.black');
    }
}
.flatHeader_nav-links a.flatHeader_donate-link {
    @include breakpoint('for-flatHeader-expanded') {
        padding: sget('button.padding.main');
        background-color: sget('color.theme.main');
        
        border-radius: sget('button.radius.main');
        color: $flatHeader_bg;
    }
}

.flatHeader_nav-button {
    // height: 100%;
    width: ($flatHeader_height - $flatHeader_padding-y * 2);
    // padding: $global_spacing-xsmall;
    padding: 0.1rem;
    position: absolute;
    top: $flatHeader_padding-y;
    right: $flatHeader_padding-x;

    @include breakpoint('for-flatHeader-expanded') {
        display: none;
    }
}
