
.gallery_container{
    padding: 0 var(--global_spacing-gutters);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery_img-container{
    height: 50vh;
    width: 30%;
    position: relative;
    overflow: hidden;

    margin-bottom: var(--global_spacing-xxlarge);
}
.gallery_img-container img{
    height: 100%;
    min-width: 100%;
    width: auto;
    object-fit: cover;
}
.gallery_img-streetAddress{
    position: absolute;
    top: var(--global_spacing-xlarge);
    left: var(--global_spacing-xlarge);
    right: var(--global_spacing-xlarge);
    
    font-size: var(--global_fontsize-title-medium);
    text-align: center;
    color: white;
    z-index: 4;
}
.gallery_img-overlay{
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: flex-end;
    align-items: center;

    padding: var(--global_spacing-xlarge) var(--global_spacing-small);

    width: 100%;
    height: 100%;

    color: var(--global_color-white1);
    background-color: rgba(0, 0, 0, 0.7);
    transition: top var(--global_timing-transitionduration-small);
    transition-timing-function:ease-in-out;
}
.gallery_img-container:hover .gallery_img-overlay{
    top:0;
}
.gallery_img-overlay-details{
    margin: 0 0 var(--global_spacing-large) 0;

    font-size: var(--global_fontsize-title-small);
    // letter-spacing: 1px;
    text-align: center;
}
.gallery_img-overlay-button{
    font-size: var(--global_fontsize-title-small);
    color: var(--global_color-white1);
}

