/* ---- BEGIN hexHeader Block ---- */
:root{
    /* ==-- hexHeader Sizing --== */
    --global_sizing-header-height-logo: 6rem;
    --global_sizing-header-height-total: calc(var(--global_sizing-header-height-logo) + calc(var(--global_spacing-small) * 2) );
}
.hexHeader_container{
    --hexheader_button-bgcolor: var(--brand_color-lightgrey);
    --hexheader_button-diameter: 4.5rem;
    --hexheader_mobilemenu-expandeddiameter: 182vh;
}
.hexHeader_logo{
    display: flex;
    justify-content: center;

    padding: var(--global_spacing-small) var(--global_spacing-medium);

    background-color: var(--hexheader_button-bgcolor);
}
.hexHeader_logo img{
    height: var(--global_sizing-header-height-logo);
}
.hexHeader_nav-container{
    position: fixed;
    right: 0;
    bottom: 0;

    height: var(--hexheader_button-diameter);
    width: var(--hexheader_button-diameter);
    
    background-color: var(--brand_color-main1);
    @include hexagonClipPath1;
    z-index: 1001;
    transition:
        height var(--global_timing-transitionduration-medium),
        width var(--global_timing-transitionduration-medium),
        right var(--global_timing-transitionduration-medium),
        bottom var(--global_timing-transitionduration-medium);
}
.hexHeader_nav-links{
    position: fixed;
    right: var(--global_spacing-large);
    bottom: calc(var(--hexheader_button-diameter) + var(--global_spacing-medium));

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 66vh;

    text-align: right;
}
.hexHeader_nav-links a{
    font-size: var(--global_fontsize-title-small);
    color: var(--global_color-black1);
    text-decoration: none;
    font-weight: 500;
}
.hexHeader_nav-button{
    position: fixed;
    right: 0;
    bottom: 0;

    width: var(--hexheader_button-diameter);

    padding: calc(var(--hexheader_button-diameter) / 4);
    // padding: 20%;

    cursor: pointer;
}
.hexHeader_nav-button-icon{
    width: 100%;
}



.hexHeader_nav-active{
    height: var(--hexheader_mobilemenu-expandeddiameter);
    width: var(--hexheader_mobilemenu-expandeddiameter);
    right: calc( calc(var(--hexheader_mobilemenu-expandeddiameter) * -0.5) + 10vw);
    bottom: calc( calc(var(--hexheader_mobilemenu-expandeddiameter) * -0.5) + 10vh);
}





@media(min-width: $breakpoint_for-tablet) {
    :root{
        --global_sizing-header-height-logo: 7rem;
    }
    .hexHeader_container{
        --hexheader_button-diameter: 5.5rem;
    }
    .hexHeader_logo{}
    .hexHeader_logo img {
    }
    .hexHeader_nav-container{}
    .hexHeader_nav-links{
        height: 75vh;
    }
    .hexHeader_nav-button{
        
    }
}


@media(min-width: $breakpoint_for-tabletlandscape) { // changes layout
    .hexHeader_container{
        display: flex;
        background-color: var(--hexheader_button-bgcolor);
    }
    .hexHeader_logo{
        padding-left: var(--global_spacing-gutters);
    }
    .hexHeader_logo img {
    }
    .hexHeader_nav-container{
        width: 100%;
        height: 100%;
        padding-left: var(--global_spacing-gutters);
        padding-right: var(--global_spacing-gutters);

        position: static;
        clip-path: unset;
        background-color: unset;
    }
    .hexHeader_nav-links{
        height: var(--global_sizing-header-height-total);

        flex-direction: row;
        align-items: center;

        position: static;
        margin-top: 5px;
    }
    .hexHeader_nav-links a {
        font-size: var(--global_fontsize-body-large);
    }
    .hexHeader_nav-links a:last-child{
        margin-left: var(--global_spacing-small);
        // font-size: var(--global_fontsize-title-small);
    }
    .hexHeader_nav-button{
        display: none;
    }
}

@media(min-width: $breakpoint_for-desktop) {
    .hexHeader_nav-links a {
        font-size: var(--global_fontsize-title-small);
    }
    .hexHeader_nav-links a:last-child {
        margin-left: var(--global_spacing-medium);
    }
}

/* ---- END hexHeader Block ---- */