// infoFooter
.infoFooter_container{
    width: 100%;
    max-width: 100%;
    background-color: var(--brand_color-lightgrey);
}
.infoFooter_preFooter{
    background-color: var(--brand_color-main1);
    padding: var(--global_spacing-small) var(--global_spacing-gutters);
    text-align: center;
}
.infoFooter_preFooter-title{
    font-size: var(--global_fontsize-body-large);
}
.infoFooter_preFooter-info{
    font-size: var(--global_fontsize-body-small);
    margin-top: var(--global_spacing-xsmall);
}

.infoFooter_mainFooter{
    padding: var(--global_spacing-medium) var(--global_spacing-gutters) 0;
}
.infoFooter_mainFooter-logo{
    padding: var(--global_spacing-medium) 0 var(--global_spacing-small);
    // margin-bottom: var(--global_spacing-medium);

    display: flex;
    justify-content: center;
    border-top: 2px solid var(--global_color-gray1);
    // border-bottom: 2px solid var(--global_color-gray1);
}
.infoFooter_mainFooter-logo img{
    display: block;
    max-width: 100%;
    height: var(--global_sizing-header-height-logo);
    // max-height: 120px;
}
.infoFooter_mainFooter-companyInfo-address,
.infoFooter_mainFooter-companyInfo-area,
.infoFooter_mainFooter-companyInfo-phone{
    display: block;
    margin: var(--global_spacing-xsmall) auto;
    text-align: center;
}


.infoFooter_mainFooter-rights{
    border-top: 2px solid var(--global_color-gray1);
    margin: 0 var(--global_spacing-gutters);
    padding: var(--global_spacing-medium) 0 var(--global_spacing-small);
}
.infoFooter_mainFooter-rights-sc,
.infoFooter_mainFooter-rights-other{
    display: block;
    text-align: center;
}
.infoFooter_mainFooter-rights-sc{
    font-size: var(--global_fontsize-body-medium);
    margin-bottom: var(--global_spacing-small);
}
.infoFooter_mainFooter-rights-other {
    font-size: var(--global_fontsize-body-small);
    // cursor: pointer;
}



@media(min-width: $breakpoint_for-tablet){
    .infoFooter_mainFooter-logo{
        // padding: var(--global_spacing-large) 0;
    }
}

@media(min-width: $breakpoint_for-desktop){
    .infoFooter_mainFooter-companyInfo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .infoFooter_mainFooter-companyInfo-address,
    .infoFooter_mainFooter-companyInfo-area,
    .infoFooter_mainFooter-companyInfo-phone {
        margin: 0;
    }
    .infoFooter_mainFooter-companyInfo-phone{
        width: 100%;
        margin: var(--global_spacing-xsmall) auto;
    }
    .infoFooter_mainFooter-companyInfo-address{
        margin-right: var(--global_spacing-xsmall);
    }
}

// END infoFooter