
// Variables that are likely to be adjusted for each new theme
// these are also defaults... so don't delete them!

html, body{ // Hide scrollbars
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    width: 0;
}


// COLORS
$theme_color-main: #ED6C25;
$theme_color-main-light: #df8a5d;
$theme_color-main-dark: #c05820;



$theme_color-accent: #1A7E13;
$theme_color-accent-light: #EFAF5E;
$theme_color-accent-dark: #99312A;

$theme_color-white: #FFF;
$theme_color-black: #000;

$theme_color-link-main: $theme_color-main-light;
$theme_color-link-visited: $theme_color-main-dark;

$theme_color-icon-main: $theme_color-main;
$theme_color-icon-white: #FFF;
$theme_color-icon-light: $theme_color-main;
$theme_color-icon-dark: $theme_color-main;
$theme_color-icon-black: #000;

$theme_color-code: #ED6C25;
$theme_color-demo: #70A757;
$theme_color-forSection-code: #ED6C25;
$theme_color-forSection-design: #6c25af;
$theme_color-forSection-projects: #358302;
$theme_color-forSection-random: #1c9197;

// TYPE
$theme_link-font-family-main: '';

    // font-family: 'Train One', cursive;

    // font-family: 'Zen Dots', cursive;

$theme_heading-font-family-main: 'Zen Dots', cursive;
// $theme_heading-font-family-main: 'Turret Road', cursive;
$theme_heading-font-family-accent: 'Merriweather', serif; 
$theme_heading-font-weight-light: 300;
$theme_heading-font-weight-main: 400; // Incase your font's normal weight is 500
$theme_heading-font-weight-bold: 700; 


$theme_body-font-family-main: 'Turret Road', cursive;
// $theme_body-font-family-main: 'Zen Dots', cursive;
$theme_body-font-family-accent: 'Open Sans', sans-serif;
$theme_body-font-weight-light: 300;
$theme_body-font-weight-main: 400;
$theme_body-font-weight-bold: 700;


// OTHERS --- May not have a corresponding "main" property in a category
$theme_button-radius: 4px; // Is main button radius

$theme_border-width: 2px; 
$theme_border-radius: 4px; 


// SuperColin theme specific combinations 

$theme_design-preview-bg: #adb5bd;



