


body {
  --brand_color-darkAccent1-switchable: #99312A;
  --brand_color-darkAccent1: #99312A;
  --brand_color-darkShade1-switchable: #220d20;
  --brand_color-darkShade1: #220d20;
  --brand_color-lightShade1-switchable: #F2ECE7;
  --brand_color-lightShade1: #F2ECE7;
  --brand_color-lightAccent1-switchable: #EFAF5E;
  --brand_color-lightAccent1: #EFAF5E;
  --brand_color-main2: #2AA187;
  --brand_color-accent3: #6FCF97;
  --brand_color-main1-switchable: #ED6C25;
  --brand_color-main1: #ED6C25
}





