
$frontPage_listing-textColor: $theme_color-white;

.frontPageListing_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include block_margin-x;
}
.frontPageListing_heading{
  width: 100%;
  text-align: center;
  @include block_margin-y;
}

.frontPageListing_chaptersListing{
  width: 33%;
  position: sticky;
  max-height: 80vh;
  // left: $spacing_block-margin-x-gutter;
  top: $spacing_block-margin-y-medium;
  display: none;
  @include breakpoint('for-tabletLandscape') {
    display: block
  };
}
.frontPageListing_chaptersListing li{
  margin-bottom: $spacing_xxxsmall;
}
.frontPageListing_chaptersListing li:first-of-type::before,
.frontPageListing_chaptersListing li::before{
  content: '~ ';
}
.frontPageListing_chaptersListing::before,
.frontPageListing_chaptersListing::after,
.frontPageListing_chaptersListing li::after {
  display: none;
}

.frontPageListing_excerptsListing{
  width: 100%;
  @include breakpoint('for-tabletLandscape'){
    width: 66%;
  };
}


.frontPageListing_excerpts-excerpt{
  @include block_margin-y-bottom;
}
.frontPageListing_excerpts-excerpt-title{
  display: block;
  font-size: $type_heading-font-size-medium;
  margin-bottom: $spacing_xsmall;
}

.frontPageListing_chaptersListing a,
.frontPageListing_chaptersListing a:visited,
.frontPageListing_excerpts-excerpt-title,
.frontPageListing_excerpts-excerpt-title:visited{
  color: $frontPage_listing-textColor;
}



.listingSingle_container{
  @include block_margin-x;
}