
.imgHero-container{
    position: relative;
    width: 100%;
    height: 60vh;
    // padding: var(--global_spacing-large) var(--global_spacing-gutters);
    padding: $spacing_large $spacing_gutter-block;
    @include breakpoint('for-desktop') {
        height: 80vh;
    }
}

.imgHero-bg,
.imgHero-bg-img,
.imgHero-bg-img img,
.imgHero-bg-tintOverlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.imgHero-bg{

}
.imgHero-bg-img{
    z-index: 4;
}
.imgHero-bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgHero-bg-tintOverlay{
    z-index: 6;
    background-color:rgba(255,255,255,0.5);
}

.imgHero-content{
    position: relative;
    z-index: 11;

    width: 100%;
    height:100%;

    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint('for-tablet'){
        justify-content: space-around;
    }
}
.imgHero-content *{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.imgHero-content-title{
    // font-size: var(--global_fontsize-title-large);
    font-size: $type_heading-font-size-large;
    @include breakpoint('for-tablet') {
        font-size: $type_heading-font-size-xlarge;
    }
}
.imgHero-content-p,
.imgHero-content-cta {
    // font-size: var(--global_fontsize-body-large);
    font-size: $type_body-font-size-large;
    @include breakpoint('for-tablet') {
        font-size: $type_heading-font-size-small;
    }
}
.imgHero-content-cta{
    display: inline-block;
    // margin-top: var(--global_spacing-xlarge);
    margin-top: $spacing_xlarge;
    // color: var(--global_color-black1);
    color: $color_white;
}


// @media(min-width: $breakpoint_for-tablet){
//     .imgHero-content{
//         justify-content: space-around;
//     }
//     .imgHero-content-title {
//         // font-size: var(--global_fontsize-title-xlarge);
//         font-size: $heading.font.size.xlarge;
//     }
//     .imgHero-content-p,
//     .imgHero-content-cta {
//         // font-size: var(--global_fontsize-title-small);
//         font-size: $heading.font.size.small;
//     }
// }

// @media(min-width: $breakpoint_for-desktop) {
//     .imgHero-container {
//         height: 45vh;
//     }
// }
