
$timeline_breakpoint-expanded-small:$breakpoint_for-tabletlandscape;
$timeline_breakpoint-expanded-full: $breakpoint_for-desktop;
$breakpoints: new-breakpoint('for-timeline-expanded-small', $timeline_breakpoint-expanded-small);
$breakpoints: new-breakpoint('for-timeline-expanded-full', $timeline_breakpoint-expanded-full);

.timeline_line{
  display: block;
  height: 2.8rem;
  width:0.2rem;
  background-color: $color_black;
  margin-left:auto;
  margin-right:auto;
  border-radius: 2px;
}

.timeline_container{
  @include block_margin-y;
}

.timeline_block{
  @include breakpoint('for-timeline-expanded-small'){
    display: flex;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
}
.timeline_block-year{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint('for-timeline-expanded-small') {
  }
}
.timeline_block-year-year {
  font-size: $type_heading-font-size-large;
  margin: $spacing_small auto;
  @include breakpoint('for-timeline-expanded-small') {
    min-height: 1em;
    height: 20%;
  }
}
.isMonth .timeline_block-year-year{
  font-size: $type_heading-font-size-medium;
}
.timeline_block-year-line-top{
  display: none;
}

.timeline_block-year-line-forMonth{display: none;}

.timeline_block-card{
  @include block_margin-x;
  @include block_padding-full;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  background-color: $color_main-light;
  border-radius: $theme_border-radius;
  @include breakpoint('for-timeline-expanded-small') {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      img{
        margin-right: 4vw;
      }
      p{
        width: 100%;
      }
  }
}

.timeline_block:first-of-type .timeline_block-year-line-top,
.timeline_block:last-of-type .timeline_block-year-line-bottom {
  background-color: transparent;
}

.timeline_block-card img{

}
.timeline_year-line-bottom{
  @include breakpoint('for-timeline-expanded-small'){
    display: none;
  }
}

@media(min-width:$timeline_breakpoint-expanded-small) {
  .timeline_block-year-line-forMonth{
    display: block;
    position: absolute;
    // right: -1rem;
    left: 80%;
    top: 51%;
    transform-origin: top right;
    transform: rotate(-90deg);
  }
  .timeline_block{width: 100%;}
  .timeline_block-year {width: 20vw;}
  .timeline_block-card {width: 100%;}

  .timeline_block-year-line-top,
  .timeline_block-year-line-bottom {
    display: block;
    height: 100%;
  }
}
// @media(min-width:900px) {.timeline_block-card{display: flex; justify-content: space-between;} .timeline_block-card img{margin-right: 4vw;} }

@media(min-width:$timeline_breakpoint-expanded-full) {
  .isMonth .timeline_block-year-line-forMonth {
    height: 3vw;
  }
  .timeline_block-year-line-forMonth {
    height: 6vw;
    left: 75%;
  }
  .isMonth .timeline_block-year-year{
        display: block;
        position: absolute;
        height: 1em;
        margin: 0;
        // right: -1rem;
        left: 80%;
        top: calc(50% - 0.65em);
  }
  .isMonth .timeline_block-year-line-forMonth{
    right: unset;
    left: 49%;
  }
}


