
$button_padding-main: $spacing_xsmall $spacing-medium;

$button_padding-x-small: $spacing_xsmall;
$button_padding-x-medium: $spacing_small;
$button_padding-x-large: $spacing_medium;

$button_padding-y-small: $spacing_small;
$button_padding-y-medium: $spacing_medium;
$button_padding-y-large: $spacing_large;


$button_radius-main: $theme_button-radius;
$button_radius-small: 4px;
$button_radius-medium: 0.45rem;
$button_radius-large: $spacing_small;



