
$color_main: $theme_color-main;
$color_main-light: $theme_color-main-light;
$color_main-dark: $theme_color-main-dark;

$color_accent: $theme_color-accent;
$color_accent-light: $theme_color-accent-light;
$color_accent-dark: $theme_color-accent-dark;

$color_link-main: $theme_color-link-main;
$color_link-visted: $theme_color-link-visited;

$color_white: #fff;
$color_gray-100: #f8f9fa;
$color_gray-200: #e9ecef;
$color_gray-300: #dee2e6;
$color_gray-400: #ced4da;
$color_gray-500: #adb5bd;
$color_gray-600: #6c757d;
$color_gray-700: #495057;
$color_gray-800: #343a40;
$color_gray-900: #212529;
$color_black: #000;

$color_success: #00ca19;
$color_warn: #ca1930;

$color_overlay-white-light: rgba(255, 255, 255, 0.25);
$color_overlay-white-medium: rgba(255, 255, 255, 0.5);
$color_overlay-white-dark: rgba(255, 255, 255, 0.75);

$color_overlay-black-light: rgba(0, 0, 0, 0.25);
$color_overlay-black-medium: rgba(0, 0, 0, 0.5);
$color_overlay-black-dark: rgba(0, 0, 0, 0.75);

$color_muted-light: rgba(222, 222, 222, 0.9);
$color_muted-dark: rgba(22, 22, 22, 0.9);