
$timing_transitionduration-xsmall: .33s;
$timing_transitionduration-small: .5s;
$timing_transitionduration-medium: 0.75s;
$timing_transitionduration-large: 1s;
$timing_transitionduration-xlarge: 1.4s;

