
$zindex_imageoverlay-image:5;
$zindex_imageoverlay-tint:10;
$zindex_imageoverlay-content:50;


$zindex_ui-sticky: 1100;
$zindex_ui-fixed: 1100;
$zindex_ui-dropdown: 1100;
$zindex_ui-nav: 1100;

$zindex_ui-tooltip: 1601; // should be above almost anything..


$zindex_modal-bg: 1500;
$zindex_modal-content: 1600;
