
// <span class="infoFooter_mainFooter-rights-other link" onclick="this.classList.toggle('scModal-active')">MLS IDX Listing Disclosure
//     <div class="scModal scModal-active">
//         <div class="scModal_innerModal" onclick="event.stopPropagation()"> 
//             <span class="scModal_innerModal-title">MLS IDX Listing Disclosure:</span> 
//             <span class="scModal_innerModal-x hexagon" onclick="this.parentElement.parentElement.parentElement.classList.toggle('scModal-active')"></span> 
//             <div class="scModal_InnerModal-bodyScrollable"> 
//                 <p>The data relating to real estatel</p>
//             </div> 
//         </div> 
//     </div>
// </span>

$scModal_x-thickness: 3px;
// $scModal_x-height: var(--global_fontsize-title-large);
$scModal_x-height: sget('heading.font.size.large');

.scModal{


    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.6);

    justify-content: center;
    align-items: center;
}
.scModal-active .scModal{
    display: flex;
}
.scModal_innerModal{
    position: relative;
    min-height: 40vh;
    width: 100%;
    margin: var(--global_spacing-xlarge) var(--global_spacing-gutters);
    padding: var(--global_spacing-xlarge) var(--global_spacing-medium);
    background-color: var(--global_color-white1);
    color: var(--global_color-black1);
    cursor: default;
}
.scModal_innerModal-x{
    display: inline-block;
    height: var(--scModal_x-height);
    width: var(--scModal_x-height);
    // padding: var(--global_spacing-small);

    position: absolute;
    top: calc(var(--global_spacing-medium) / 2);
    right: calc(var(--global_spacing-medium) / 2);

    background-color: var(--brand_color-main1);
    border-radius: 50%;
    cursor: pointer;
}
.scModal_innerModal-x::before,
.scModal_innerModal-x::after{
    content: '';
    display: block;
    height: var(--scModal_x-thickness);
    width: 70%;
    background-color: var(--global_color-black1);

    position: absolute;
    top: calc(var(--scModal_x-height) / 2);
    top: calc(calc(var(--scModal_x-height) / 2) - calc(var(--scModal_x-thickness) / 2) );
    left: 15%;
    transform-origin: center;
    transform: rotate(45deg);
}
.scModal_innerModal-x::after {
    transform: rotate(-45deg);
}
.scModal_innerModal-title{
    font-size: var(--global_fontsize-title-medium);
}
.scModal_innerModal-body{
    margin-top: var(--global_spacing-medium);
    // overflow-y: scroll; 
    overflow-y: auto;
}
@media(min-width:$breakpoint_for-tablet){
    .scModal_innerModal-body{
        margin-top: var(--global_spacing-xlarge);
        font-size: var(--global_fontsize-body-medium);
    }
}

@media(min-width:$breakpoint_for-tabletlandscape) {
    .scModal {
        --scModal_x-height: var(--global_fontsize-title-xlarge);
    }
    .scModal_innerModal {
        padding: var(--global_spacing-xlarge) var(--global_spacing-large);
        width: 90%;
    }
    .scModal_innerModal-x {
        top: var(--global_spacing-medium);
        right: var(--global_spacing-medium);
    }
}
@media(min-width:$breakpoint_for-desktop) {
    .scModal_innerModal{
        width: 80%;
    }
}
@media(min-width:$breakpoint_for-desktop4k) {
    .scModal_innerModal{
        width: 70%;
    }
}
