
// $button_radius: 4px !default;
// $button_padding: $global_spacing-xsmall $global_spacing-medium !default;



%button_shared{
    display: inline-block;
    // position: relative;
    text-decoration: none;
    padding: sget('spacing.small') sget('spacing.medium');
    line-height: 1;
    cursor: pointer;
}



.button{
    @extend %button_shared;
}

.button-pill-flat{
    @extend %button_shared;
    border-radius: 1.5em;
}
.button-rounded{
    @extend %button_shared;
    border-radius: sget('button.radius.theme');
}

